<section class="wi-card p-5 pt-0 bg-ivory mx-auto">
    <div class="fs-head numberFont text-center">
        <p>Sugerencias de regalos</p>
        <p class="numberFont fs-6">
            Su presencia es nuestro mejor regalo,
            pero si desean obsequiarnos algo más
            aquí nuestras sugerencias.
        </p>
        <p class="numberFont fs-6">¡Gracias!</p>
    </div>
  <div class="container">

    <div class="row g-4 justify-content-center">

      <!-- Church Card -->
      <div class="col-12">
        <div class="venue-card text-center h-100 bg-white fade-in">

            <div class="venue-icon mb-3">
                {% include "svgs/regalo.html" %}
            </div>

          <h3 class="venue-heading cj-seal">Mesa de regalos</h3>
          <p class="venue-name bodoni-moda-sc-txt">liverpool</p>
          <p class="venue-address">
              Numero de evento : 52031636
            </p>

            <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/52031636"
               target="_blank"
               class="btn venue-btn mt-3">
               Ver mesa de regalo
            </a>

        </div>
      </div>

      <!-- Reception Card -->
      <div class="col-12">
        <div class="venue-card text-center h-100 bg-white fade-in">

            <div class="venue-icon mb-3">
                {% include "svgs/tarjeta-regalo.html" %}
            </div>

            <h3 class="venue-heading cj-seal">Cuenta Bancaria</h3>
            <p class="venue-name bodoni-moda-sc-txt">BBVA</p>
            <p class="venue-address">
               12345634567890<br>   
               Julio Conchas
            </p>

           <!-- <a href="https://maps.app.goo.gl/3DeL5adT9BwFYLcw9"
               target="_blank"
               class="btn venue-btn mt-3">
               VER UBICACIÓN
            </a> -->

        </div>
      </div>

    </div>
  </div>
</section>