<!-- Hero desktop version -->
<!-- Hero phone version -->
<section class="hero d-md-none pt-3">
    <div class="container position-relative height-90">
        <!-- background div -->
        <div id="bg-pannel" class="d-flex pt-2 height-80">
            <!-- img panel to the left -->
            <div class="panel left m-2 mb-3 panel-left"></div>
            <!-- panel center -->
            <div class="row justify-content-center panel-center animation">
                <!-- text panel center top -->
                <div class="row text-center display-2 text-dark justify-content-center">
                    <div class="col-3 pe-0 ">
                        <p class="cj-seal gold-txt">C</p>
                    </div>
                    <div class="col-3 ps-0 pt-3">
                        <p class="cj-seal gold-txt">J</p>
                    </div>
                    
                </div>
                <!-- img panel center bottom-->
                <div class="row pt-2 date-amimation">
                    <div class="panel center"></div>
                    <p class="display-5 text-center numberFont mb-0 gold-txt">14.11.2026</p>
                    {% include "patter1.html" %}
                </div>
            </div>
            <!-- img panel to the right -->
            <div class="panel right m-2 mb-3 panel-right"></div>
        </div>
    </div>
    <!-- text div -->
    <div id="txt-pannel" class="position-absolute cj-seal display-1">
        <div class="row ps-4">
            <div class="col p-3 text-start txt-top txt-animation ivory-txt">Claudia</div>
        </div>
        <div class="row">
            <div class="col p-3 text-center ivory-txt">&</div>
        </div>
        <div class="row pe-4">
            <div class="col p-3 text-end txt-bottom txt-animation ivory-txt">Julio</div>
        </div>
    </div>
</section>