<!-- Phone-style hero section for wedding invite -->
<section class="wi-card vh-100 overflos-hidden mx-lg-auto shadow-none shadow-md">
    <div class="row phone-shell">
        <div class="phone-image"></div>
    </div>
    <div class="row">
        <button id="music-btn" class="border-0 p-2 " aria-label="Play">
            <i id="music-btn-icon" class="bi bi-play-fill gold-txt"></i>
            <p class="gold-txt">Play</p>
        </button>
    </div>
    <!-- text div -->
    <div id="txt-pannel" class="position-absolute position-lg-relative cj-seal display-1">
        <div class="row">
            <div class="col p-3 ps-5 text-start txt-top txt-animation ivory-txt">Claudia</div>
        </div>
        <div class="row">
            <div class="col p-3 text-center ivory-txt">&</div>
        </div>
        <div class="row">
            <div class="col p-3 pe-5 text-end txt-bottom txt-animation ivory-txt">Julio</div>
        </div>
    </div>
    <!-- text div -->
    <div id="date-pannel" class="position-absolute position-lg-relative numberFont">
        <div class="row text-center">
            <div class="col p-3 txt-top txt-animation ivory-txt">14 Noviembre 2026</div>
        </div>
    </div>
</section>
