{% extends "base.html" %}

{% block content %}

{% include "audio.html" %}

{% include "hero.html" %}

<section class="pb-2">
    <div class="container">
        <div class="row">
            <button id="music-btn" class="border-0" aria-label="Play">
                <i class="bi bi-play-fill gold-txt"></i>
            </button>
        </div>
    </div>
</section>

{% include "detail.html" %}

<!-- IMAGE -->
<section>
  <div class="text-center">
    <div class="curtain-wrapper mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_detail.jpg" 
        class="img-fluid"
        alt="sample image"
      >
      <div class="curtain"></div>
    </div>
  </div>
</section>

<!-- VENUES -->
{% include "venues.html" %}

<!-- IMAGE -->
<section class="overflow-hidden">
  <div class="text-center">
    <div class="mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_venues.jpg" 
        class="img-fluid fancy-image"
        alt="sample image"
      >
    </div>
  </div>
</section>

<!-- GIRFT options -->
{% include "gifts.html" %}

<!-- IMAGE -->
<section class="overflow-hidden">
    <div>
        <img src="{{ MEDIA_URL }}/img/cj_gifts.jpg" class="zoom-image img-fluid" alt="sample image" >
    </div>
</section>

<!-- WARNINGS options -->
{% include "warnings.html" %}

<!-- IMAGE -->
<section>
  <div class="text-center">
    <div class="curtain-wrapper mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_warnings.jpg" 
        class="img-fluid"
        alt="sample image"
      >
      <div class="curtain"></div>
    </div>
  </div>
</section>

<!-- THANKS options -->
{% include "thanks.html" %}

<!-- IMAGE -->
<section>
  <div class="text-center">
    <div class="curtain-wrapper mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_last.jpg" 
        class="img-fluid"
        alt="sample image"
      >
      <div class="curtain"></div>
    </div>
  </div>
</section>

<footer class="p-2 text-center">
    <div class="row">
        <div class="col"> C &amp; J </div>
        <div class="col"> 14 . 11 . 2026 </div>
    </div>
</footer>

{% endblock %}
