{% extends "base.html" %}

{% block content %}

{% include "audio.html" %}

{% include "hero.html" %}

<section class="pb-2">
    <div class="container">
        <div class="row">
            <button id="music-btn" class="border-0" aria-label="Play">
                <i class="bi bi-play-fill gold-txt"></i>
            </button>
        </div>
    </div>
</section>

{% include "detail.html" %}

<!-- IMAGE -->
<section>
  <div class="text-center">
    <div class="curtain-wrapper mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_detail.jpg" 
        class="img-fluid"
        alt="sample image"
      >
      <div class="curtain"></div>
    </div>
  </div>
</section>

<!-- VENUES -->
{% include "venues.html" %}

<!-- IMAGE -->
<section class="overflow-hidden">
  <div class="text-center">
    <div class="mx-auto">
      <img 
        src="{{ MEDIA_URL }}/img/cj_venues.jpg" 
        class="img-fluid fancy-image"
        alt="sample image"
      >
    </div>
  </div>
</section>

<!-- PROGRAM -->
{% include "program.html" %}

<!-- RSVP -->
<section class="py-5">
  <div class="container text-center">
    <h2 class="section-title mb-4">RSVP</h2>

    <div class="row justify-content-center">
      <div class="col-md-5">
        <form>
          <input type="text" class="form-control mb-3" placeholder="Your Name">
          <select class="form-select mb-3">
            <option selected>Will you attend?</option>
            <option>Yes, gladly!</option>
            <option>Sadly, no</option>
          </select>
          <button class="btn btn-rustic w-100">Send RSVP</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer class="py-4 text-center">
    <p class="mb-0">With love 🤎 Julio & Claudia</p>
    <p class="mb-0">www.iconito.io.com</p>
</footer>

{% endblock %}
