<!-- INFO -->
<section class="mt-4 py-5">
    <div class="container">
        <!-- frace row -->
        <div class="row mb-2">
            <div class="col">
                <p class="text-center bodoni-moda-sc-txt">
                    EL AMOR NOS ENCONTRÓ, NOW UNIÓ Y NOS ENSEÑÓ QUE LOS SUEÑOS SE VIVEN MEJOR CUANTO SE COMPARTE.
                    CON EL CORAZÓN LLENO DE ILUSIÓN, QUEREMOS INVITARTE A SER PARTE DE ESTE MOMENTO TAN ESPECIAL EN NUESTRAS VIDAS.
                </p>
            </div>
        </div>
        <!-- count down row-->
        <div class="row">
            <div class="col">
                <p class="text-center bodoni-moda-sc-txt">CUENTA REGRESIVA</p>

                <div class="countdown" id="countdown">
                    <div class="unit">
                        <span class="unit-value numberFont" id="days">--</span>
                        <span class="unit-label">Days</span>
                    </div>
                    <div class="unit">
                        <span class="unit-value numberFont" id="hours">--</span>
                        <span class="unit-label">Hours</span>
                    </div>
                    <div class="unit">
                        <span class="unit-value numberFont" id="minutes">--</span>
                        <span class="unit-label">Minutes</span>
                    </div>
                    <div class="unit">
                        <span class="unit-value numberFont" id="seconds">--</span>
                        <span class="unit-label">Seconds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>