<section class="wi-card mx-lg-auto p-5 bg-ivory">

    <div class="container">

        <div class="row g-4 justify-content-center">
            <div class="col-12">
                <div class="venue-card text-center h-100 bg-white fade-in">

                    <h3 class="venue-heading cj-seal">Te esperamos</h3>
                    <p class="venue-name bodoni-moda-sc-txt">Wedding Planner</p>

                    <p class="venue-address">
                        Alejandra Rodriguez<br>
                        33 2998 5603
                    </p>

                </div>
          </div>
        </div>
    </div>
</section>