<section class="wi-card mx-auto p-5 bg-ivory">

    <div class="text-center">
        <p class="numberFont fs-6">
            Con el propósito de coordinar cada detalle
            de la celebración, nuestra wedding planner 
            se pondrá en contacto con ustedes vía Whatsapp 
            para confirmar su asistencia. Agradeceremos su amable atención y respuesta.
        </p>
    </div>

    <div class="container">

        <div class="row g-4 justify-content-center">
            <div class="col-12">
                <div class="venue-card text-center h-100 bg-white fade-in">

                    <h3 class="venue-heading cj-seal">Te esperamos</h3>
                    <p class="venue-name bodoni-moda-sc-txt">Wedding Planner</p>

                    <p class="venue-address">
                        Alejandra Rodríguez<br>
                        33 2998 5603
                    </p>

                </div>
          </div>
        </div>
    </div>
</section>